ul > li:nth-last-child(n+4), ul > li:nth-last-child(n+4) ~ li {
  test: ok;
}

ul > li:nth-last-child(n+4), ul > li:nth-last-child(n+4) ~ * {
  test: ok;
}

ul > li:nth-last-child(n+4), ul > li:nth-last-child(n+4) ~ li, nav > div:nth-last-child(n+4), nav > div:nth-last-child(n+4) ~ div {
  test: ok;
}

ul > li:nth-last-child(n+4), ul > li:nth-last-child(n+4) ~ *, nav > div:nth-last-child(n+4), nav > div:nth-last-child(n+4) ~ * {
  test: ok;
}
